<!DOCTYPE html>
<html th:replace="layout/adminLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="container my-5">
        <div class="row justify-content-center align-content-center">
            <div class="col-8">
                <div class="card shadow">
                    <div class="card-header bg-dark text-white">
                        <h3>Author Form</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/author-form}" th:object="${author}" method="post">
                            <div class="form-group">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" id="name"
                                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'"
                                       th:field="*{name}" class="form-control">
                                <small th:if="${#fields.hasErrors('name')}" class="invalid-feedback"
                                       th:errors="*{name}"></small>
                            </div>
                            <div class="form-group">
                                <label for="dob" class="form-label">Date of Birth</label>
                                <input type="date" id="dob"
                                       th:field="*{dateOfBirth}" class="form-control">
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="male" th:field="*{gender}" name="gender" class="form-check-input"
                                           th:value="${'MALE'}">
                                    <label for="male" class="form-check-label">Male</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" id="female" th:field="*{gender}" name="gen" class="form-check-input"
                                           th:value="${'FEMALE'}">
                                    <label for="female" class="form-check-label">Female</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber" class="form-label">Phone Number</label>
                                <input type="text" id="phoneNumber"
                                       th:classappend="${#fields.hasErrors('address.phoneNumber')} ? 'is-invalid'"
                                       th:field="*{address.phoneNumber}" class="form-control">
                                <small th:if="${#fields.hasErrors('address.phoneNumber')}" class="invalid-feedback"
                                       th:errors="*{address.phoneNumber}"></small>
                            </div>
                            <div class="form-group">
                                <label for="streetName" class="form-label">Street Name</label>
                                <input type="text" id="streetName"
                                       th:classappend="${#fields.hasErrors('address.streetName')} ? 'is-invalid'"
                                       th:field="*{address.streetName}" class="form-control">
                                <small th:if="${#fields.hasErrors('address.streetName')}" class="invalid-feedback"
                                       th:errors="*{address.streetName}"></small>
                            </div>
                            <div class="form-group">
                                <label for="country" class="form-label">Country Name</label>
                                <input type="text" id="country"
                                       th:classappend="${#fields.hasErrors('address.country')} ? 'is-invalid'"
                                       th:field="*{address.country}" class="form-control">
                                <small th:if="${#fields.hasErrors('address.country')}" class="invalid-feedback"
                                       th:errors="*{address.country}"></small>
                            </div>

                            <input type="submit" value="Save Author" class="btn btn-dark btn-lg">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>