<!DOCTYPE html>
<html th:replace="layout/userViewLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="container my-4">
        <div class="row justify-content-center align-content-center">
            <div class="col-8">
                <div class="card shadow">
                    <div class="card-header bg-dark text-white">
                        <h3>Register Form</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/cart/register}" th:object="${customer}" method="post">
                            <div class="form-group">
                                <label for="username" class="form-label">UserName</label>
                                <input type="text" th:field="*{username}" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" th:field="*{password}" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber" class="form-label">Phone Number</label>
                                <input type="text" id="phoneNumber"
                                       th:field="*{address.phoneNumber}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="streetName" class="form-label">Street Name</label>
                                <input type="text" id="streetName"
                                       th:field="*{address.streetName}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="country" class="form-label">Country Name</label>
                                <input type="text" id="country"
                                       th:field="*{address.country}" class="form-control">
                            </div>
                            <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
                                </div>
                                <div class="col-md-6">
                                    <a th:href="@{/login}" class="btn btn-outline-primary btn-block btn-lg">Log In</a>
                                </div>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>